.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #374151;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Sizes */
.sm {
  width: 32px;
  height: 32px;
  font-size: 14px;

}

.md {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}