.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: auto;
  }
}
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: auto;
  }
}
