.customTooltip {
  background: #F3F6F8;
  color: var(--color-text-dark);
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: translate(-55px,-110px);

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #F3F6F8;
  }
}