@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

body {
  font-family: var(--font-primary);
  background-color: #ffffff;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
*:focus{
  outline: none;
}
*:focus-visible {
  outline: none;
}