 :root {
   /* FONT */
   --font-primary: "Kumbh Sans", system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

   /* FONT SIZES */
   --text-title: 30px;
   --text-subtitle: 25px;
   --text-xsm: 12px;
   --text-sm: 14px;
   --text-md: 16px;
   --text-lg: 18px;
   --text-xlg: 24px;

   /* COLORS */
   --color-text-dark: #1B212D;
   --color-text-gray: #78778B;
   --color-text-lightgray: #929EAE;
   --color-background-sidebar: #FAFAFA;
   --color-error: #e62c55;
   --color-button-green: #29A073;

   /* BORDER RADIUS */
   --border-radius: 10px;

   /* BORDER COLORS */
   --border-color-input: #F2F2F2;
   --border-color-button: #F5F5F5;

   /* SPACING */
   --space-sm: 5px;
   --space-md: 8px;
   --space-lg: 15px;
   --space-xlg: 25px;
   /*BUTTONS BG*/
   --button-yellow-bg: #C8EE44;
 }

 @media (max-width: 992px) {
  :root {
  --text-subtitle: 24px;
   --text-xsm: 11px;
   --text-sm: 12px;
   --text-md: 14px;
   --text-lg: 16px;
   --text-xlg: 20px;
  }
}
 @media (max-width: 768px) {
  :root {
  --text-subtitle: 20px;
   --text-xsm: 10px;
   --text-sm: 11px;
   --text-md: 12px;
   --text-lg: 14px;
   --text-xlg: 16px;
  }
}