.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: background-color 0.2s ease;
  padding: 5px;

  svg {
    color: var(--color-text-gray);
  }

  &:hover {
    background-color: #f3f4f6;
  }
}

/* Variants */
.ghost {
  background: transparent;
}

.filled {
  background-color: #f3f4f6;
}

@media (max-width: 768px) {
  .iconButton {
    display: none;
  }
}