.profileBox {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 6px 20px 6px 10px;
  border-radius: 12px;
  background-color: #FAFAFA;
  border-radius: 100px;

  &:hover {
    background-color: #f3f4f6;
  }
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}
@media (max-width: 768px) {
  .profileBox {
    padding: 6px 10px;
  }
  .name{
    display: none;
  }
}