.WalletCardSkeleton {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: gray;
  border-radius: 15px;
  transform: scale(0.8);
  opacity: 0.5;

  &:not(:last-child) {
    margin-bottom: -50px;
    opacity: 1;
    transform: scale(1);
  }

  .skeletonItem {
    height: 100%;
    display: block;
    border-radius: 16px;
  }

  :global(.react-loading-skeleton) {
    height: 100%;
  }

  &:nth-child(1) {
    z-index: 2;
  }

  &:nth-child(2) {
    z-index: 1;
  }
}