.amount {
  font-weight: 600;
  font-size: var(--text-sm);
}

.statCard {
  font-size: var(--text-xlg);
}

.transactionItem {
  font-size: var(--text-sm);
}

.scheduledItem {
  font-size: var(--text-md);
}
