.topbar {
  height: 48px;
  margin:30px 40px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 48px;
}
.profileWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.dropdownMenu {
  position: absolute;
  display: none;
  top: 110%;
  right: 0;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  padding: 8px;
  z-index: 9999;
}

.mobileOnlyInfo {
  display: none; // Masaüstünde gizle
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 768px) {
  .topbar {
  height: 40px;
  margin:10px 25px;
  }
  .right {
  gap: 12px;
}
  .dropdownMenu {
    display: block;
  }
}